.icons {
  padding-left: 0;
}

.icons li {
  margin: 5px;
  list-style: none;
  display: inline-block;
}

.email-address, .icons i {
  color: #607d8b;
}

.email-address:hover, .icons i:hover {
  color: #556C40;
}

.add-white-shadow {
  text-shadow: 1px 1px white;
}

.add-gray-shadow {
  text-shadow: 1px 2px gray;
}

.bulleted {
  padding-left: 30px;
}

.bulleted li{
  list-style: square;
}

footer.page-footer {
  margin-top: 0;
}