.icons {
  padding-left: 0;
}

.icons li {
  margin: 5px;
  list-style: none;
  display: inline-block;
}

.email-address, .icons i {
  color: #607d8b;
}

.email-address:hover, .icons i:hover {
  color: #556C40;
}

.add-text-border {
  color: #fff;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 2.64rem;
  line-height: 2.804rem;
  font-weight: 500;
}

.add-gray-shadow {
  text-shadow: 1px 2px gray;
}

.bulleted {
  padding-left: 30px;
}

.bulleted li{
  list-style: square;
}

footer.page-footer {
  margin-top: 0;
}

.logos {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logos img {
  height: 60px;
  padding: 5px;
}
